{% extends 'base.html' %}

{% block title %}
To Do List
{% endblock %}

{% block content %}


<form method="POST">
    {% csrf_token %}
    <div class="d-flex justify-content-center">
        <div class="border p-4" style="width: 60%;">
            <h4 class="text-center">Create an account</h4>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                {% if errors.username %}
                    <input type="text" class="form-control border border-danger" id="username" name="username" aria-describedby="usernameHelp" value="{{ values.username }}" required>
                    <div class="form-text"><span style="font-size: 12px;">{{ errors.username.error_msg }}</span></div>
                {% else %}
                    <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" value="{{ values.username }}" required>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Email</label>
                    {% if errors.email %}
                        <input type="email" class="form-control border border-danger" id="email" name="email" aria-describedby="emailHelp" value="{{ values.email }}" required>
                        <div class="form-text"><span style="font-size: 12px;">{{ errors.email.error_msg }}</span></div>
                    {% else %}
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" value="{{ values.email }}" required>
                    {% endif %}
                
            </div>
            <div class="mb-3">
                <label for="first_name" class="form-label">First Name</label>
                {% if errors.firstname %}
                    <input type="text" class="form-control border border-danger" id="first_name" name="first_name" aria-describedby="firstnameHelp" value="{{ values.first_name }}" required>
                    <div class="form-text"><span style="font-size: 12px;">{{ errors.firstname.error_msg }}</span></div>
                {% else %}
                    <input type="text" class="form-control" id="first_name" name="first_name" aria-describedby="firstnameHelp" value="{{ values.first_name }}" required>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="last_name" class="form-label">Last Name</label>
                {% if errors.lastname %}
                    <input type="text" class="form-control border border-danger" id="last_name" name="last_name" aria-describedby="lastnameHelp" value="{{ values.last_name }}" required>
                    <div class="form-text"><span style="font-size: 12px;">{{ errors.lastname.error_msg }}</span></div>
                {% else %}
                    <input type="text" class="form-control" id="last_name" name="last_name" aria-describedby="lastnameHelp" value="{{ values.last_name }}" required>
                {% endif %}
                
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                {% if errors.password %}
                    <div class="input-group">
                        <input type="password" class="form-control border border-danger" id="password"name="password" value="{{ values.password }}" required>
                        <span class="input-group-text" style="cursor: pointer;" id="password-button"><i class="bi bi-eye-slash-fill"></i></span>
                    </div>
                    <div class="form-text"><span style="font-size: 12px;">{{ errors.password.error_msg }}</span></div>
                {% else %}
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="password"name="password" value="{{ values.password }}" required>
                        <span class="input-group-text" style="cursor: pointer;" id="password-button"><i class="bi bi-eye-slash-fill"></i></span>
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="confirm_password" class="form-label">Confirm Password</label>
                {% if errors.confirm_password %}
                    <div class="input-group">
                        <input type="password" class="form-control border border-danger" id="confirm_password" name="confirm_password" value="{{ values.confirm_password }}" required>
                        <span class="input-group-text" style="cursor: pointer;" id="confirm-password-button"><i class="bi bi-eye-slash-fill"></i></span>
                    </div>
                    <div class="form-text"><span style="font-size: 12px;">{{ errors.confirm_password.error_msg }}</span></div>
                {% else %}
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password" value="{{ values.confirm_password }}" required>
                        <span class="input-group-text" style="cursor: pointer;" id="confirm-password-button"><i class="bi bi-eye-slash-fill"></i></span>
                    </div>
                {% endif %}
            </div>
            <div class="mb-4">
                <div class="form-text">Already have an account? <a href="{% url 'login' %}">Sign in!</a></div>
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
        </div>
    </div>
</form>


<script>
    const password = document.querySelector('#password')
    const confirm_password = document.querySelector('#confirm_password')
    const password_button = document.querySelector('#password-button')
    const confirm_password_button = document.querySelector('#confirm-password-button')

    password_button.addEventListener('click', (e) => {
        if (password_button.querySelector('i').classList.contains('bi-eye-slash-fill')) {
            password_button.querySelector('i').classList.remove('bi-eye-slash-fill')
            password_button.querySelector('i').classList.add('bi-eye-fill')
            password.type = 'text'
        } else {
            password_button.querySelector('i').classList.remove('bi-eye-fill')
            password_button.querySelector('i').classList.add('bi-eye-slash-fill')
            password.type = 'password'
        }
    })

    confirm_password_button.addEventListener('click', (e) => {
        if (confirm_password_button.querySelector('i').classList.contains('bi-eye-slash-fill')) {
            confirm_password_button.querySelector('i').classList.remove('bi-eye-slash-fill')
            confirm_password_button.querySelector('i').classList.add('bi-eye-fill')
            confirm_password.type = 'text'
        } else {
            confirm_password_button.querySelector('i').classList.remove('bi-eye-fill')
            confirm_password_button.querySelector('i').classList.add('bi-eye-slash-fill')
            confirm_password.type = 'password'
        }
    })

</script>

{% endblock %}